body {
}
.navbar {
   font-size:large
}
.navbar li a:hover{
   background-color:transparent;
}
.banner{
    margin:0;
    padding:0;
    width:100%;
}
    .banner img {
        width: 100%;
    }
.mtop{
    margin-top:10px;
}
.content-box{

}
.content-box .title{
    position:relative;
    width:100%;
    height:40px;
    border-bottom:solid 2px #C3BEBE;
    text-align:center;
    vertical-align:central;
    font-size:24px;
    margin-bottom:24px;

}
    .content-box .title span {
        position: relative;
        bottom:-22px;
        background-color:white;
        padding:5px 20px;     
    }
      .content-box .content img{
          width:100%;
          margin: 5px 0;
      }
       .content-box .content .cl{
          width:55%;
          height:400px;
          border:1px solid #eeecec;
          float:left;
       }
       .content-box .content .cr{
          width:45%;
          padding-left:20px;
           float:right;

       }
    .news .title{

    }
     .newsleft{

     }
    .newsleft h2,.newsrightbottom h2{ 
        font-size:20px; height:30px; line-height:30px; text-indent:10px;

    }
.newsleft h2 a,.newsrightbottom h2 a{
     text-decoration:none; 

}
.newsleft h2 span,.newsrightbottom h2 span{
     float:right; font-size:12px; font-weight:100; margin-right:10px;

}
.newsleft ul li{
     height:30px; line-height:30px; overflow:hidden; border-bottom:1px dashed #e6e6e6; text-indent:24px; 
}
.newsleft ul li a{ 
    text-decoration:none; color:#666666;

}
.newsleft ul li a:hover{
     text-decoration:none; color:#F60;

}

.newsleft ul li span{
     float:right; margin-right:10px; color:#999999;

}
.newsleft h2 span a,.newsrighttop dl dt span a{
     color:#F60; text-decoration:none;}


.product{
    margin:20px 0;
}


 .tabClick{ background: #f3f3f3; overflow: hidden}
    .tabClick li{ height:40px; line-height: 40px;  float: left;width: 146px; text-align: center;padding:0 20px; }
    .tabClick li.active{ color: orangered; transition: 0.1s; font-weight: bold ;background-color:white;}
    .tabCon{ overflow: hidden}
    .tabBox{ position: relative}
    .tabList{word-break: break-all; width:100%;float:left;  text-align:center;  }
    .lineBorder{ height: 2px; overflow: hidden;  background: #f3f3f3}
    .lineDiv{ background: orangered; height: 2px; width: 146px;}

    .product .product-box{
        margin:10px auto;
        padding:20px 15px;
        width:95%;
        height:270px;
        border:0.5px  solid #D3D3D3;
        border-radius:3px;
        text-align: center;
    }
    .product .product-box img{
        float:left;
       width:45%;
    }
    .product .plcontent{     
        margin-left:20px;
        float:left;
       text-align:left;
        
    }
    .news-box{
        margin:20px auto;
    }
    .news-box li{
        width:100%;
        height:30px;
        line-height:30px;
    }
    .news-box .ntitle{
        float:left;
    }
    .news-box .ndate{
        
        float:right;
    }
.news{
    margin:20px auto;
}
.news .news-title {
    text-align:center;
}
.news .news-title .sub-title{
    height:40px;
    padding-right:20px;
    text-align:right;
}
.news .news-content{
    text-align:left;
    line-height:25px;
}
.product .product-box .pltitle {
    font-size:16px;
    line-height:18px;
}
.product .product-box .plist {
    margin-top:5px;
    margin-bottom:5px;
    width:400px;
    height:115px;
    padding:5px;
    border-bottom:1px dotted #C3BEBE;
    border-top:1px dotted #C3BEBE;
    line-height:23px;
}
.product .product-box .memo{
    font-size:16px;
    color:#0099cc;
}
.product .product-box .btn-box{
    border-left:dotted 1px #C3BEBE;
    height:250px;
    padding:90px 60px;
    color:#ff9966;
    font-size:16px;
    font-weight:800;
}
.product .product-box .btn-box .price{
    font-family:'Times New Roman', Times, serif ;
    font-size:30px;
}
.product .product-box .btn-box button{
    width:128px;
    height:37px;
    background-color:#ff9966;
    color:white;
    border-radius:2px;
}
.product .product-detail{
     margin-top:10px ;
     padding:0 40px;
     text-align:left;
     
}
.product .d-title{
    border-bottom:1px solid #D3D3D3;
    padding:5px 15px;
}
    .product .d-title span {
        border-left: 3px solid red;
        padding-left: 5px;
    }
.product .d-content{
     padding:5px 15px;
     margin:5px auto;
}
 .product .d-content li{
     padding:10px;
     vertical-align:middle;
     overflow:auto;
 }
  .product .d-content .c-label{
      display:block;
      float:left;
      width:14%;
      height:100%;
  }
    .product .d-content .c-value{
        margin-left:2px;
      display:block;
       width:85%;
      float:right;
  }
    .product .d-content li:nth-child(2n+1) {
        background-color: #eeecec;
    }






footer{
    padding:20px;
    background-color:#333333;
    color:#999999;
    text-align:center;
}

footer a{
    color:#999999;
       padding:0 20px;
}